
/* those styles only aply to example.html file in repository */

/*
main {
    background-color: lightgrey;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
}

h1, h2 {
    font-weight: bold;
}




