/* Centering element in element */
/* link to the ropository: https://github.com/Dominik-developer/css_library */


.centerOutside {
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 100vh; /* basics height of outer element, here height of the browser  */

}

.centerInside {
    width: 50%; /* basics width for inner element */
    height: 50%; /* basics height for inner element */
    background-color: lightblue; /* basics background color for inner element so its visible  */

}

