/* Footer */
/* link to the ropository: https://github.com/Dominik-developer/css_library */

footer {
  display: block;
  box-sizing: border-box;
  background-color: #fff;
  width: 100vw;

  /*margin-left: 20px;
  margin-right: 20px;*/

  /*padding: 5px;*/
}

@media (min-width: 1201px) {
  footer {
      width: 80vw; 
      margin: 0 auto; 
      padding: 20px; 
  }
}

@media (max-width: 1200px) {
  footer {
      width: 90vw;
      margin: 0 auto; 
  }
}

@media (max-width: 768px) {
  footer {
      width: 90vw; 
      padding: 10px;
  }
}

@media (max-width: 480px) {
  footer {
      width: 90vw; 
      padding: 10px; 
  }
}