/* Footer */

footer {
  display: block;
  box-sizing: border-box;
  background-color: #fff;
  width: 100vw;

  margin-left: 20px;
  margin-right: 20px;

  padding: 5px;
  
}

/* responsiveness */

/* screens width up to 1200px :laptops */
@media (max-width: 1200px) {
  footer {
      width: 90vw;
     /* margin: 0 auto; */
  }
}

/* screens width up to 768px : tablets */
@media (max-width: 768px) {
  footer {
      width: 80vw; 
      /*padding: 15px;*/
  }
}

/* screens width up to 480px : smartphones */
@media (max-width: 480px) {
  footer {
      width: 100vw; 
      /*padding: 10px; */
  }
}