/* Header */
/* link to the ropository: https://github.com/Dominik-developer/css_library */

header {
    width: 100vw;
    display: block;
    box-sizing: border-box;
    background-color: #fff;
}

header.h40 {
    height: 40px;
    padding: 5px;
}

header.h60 {
    height: 60px;
    padding: 5px;
}


/* responsiveness */

/* scrrens up to 1200px :laptops */
@media (max-width: 1200px) {
    footer {
        width: 90vw;
        /*margin: 0 auto; */
    }
  }
  
  /* screens width up to 768px : tablets */
  @media (max-width: 768px) {
    footer {
        width: 80vw; 
        /*padding: 15px;*/
    }
  }
  
  /* screens width up to 480px : smartphones */
  @media (max-width: 480px) {
    footer {
        width: 100vw; 
        /*padding: 10px; */
    }
  }
