
main {
    width: 100vw;
    display: block;
    box-sizing: border-box;
    margin: none;
    
}

main.h40 {

}

main.h60 {
    height: calc(100vh - 60px);
    background-color: antiquewhite;
    width: 100vw;
    
    
}  
