/*Main*/

main {
    width: 100vw;
    height: 100hv;
    display: block;
    box-sizing: border-box;
    margin: none;
    border: none;
    background-color: #fff;
}

/*
main.h60 {
    height: calc(100vh - 60px);
    background-color: antiquewhite;
    width: 100vw;
    
    
}  
*/
